.card {
  padding: 1px;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: grab;
  transition: background 5s;

  &:active {
    cursor: grabbing;
  }

  img.card-open {
    width: auto;
    height: 150px;
  }
  img.card-closed {
    width: auto;
    height: auto;
  }
}

.card-matched {
  padding: 1px;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: grab;
  transition: background, filter 3s;
  animation-name: blured;
  animation-duration: 1s;
}

@keyframes blured {
  0% {
    filter: blur(0px);
  }
  25% {
    filter: blur(1px);
  }
  50% {
    filter: blur(2px);
  }
  75% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0px);
  }
}
.card-open {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 0.8s;
}

.card-closed {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 0.8s;
}
